@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #3532D5,#4645AA);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #2E2E33;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
   color: #2E2E33;
   text-align: center;
   text-shadow: 1px 1px 2px #3F3F55;
}

h2 {
    color: #3532D5;
}

p {
    text-align: justify;
}