@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-size: normal;
    font-family: Android
}

body {
    background-color: #98eebe;
}

header {
    background-image: linear-gradient(to top, #195735, #3cd983);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

    
}
  
header > h1 {
    text-align: center;
    padding: 35px 0px 25px 0px;
    text-shadow: 5px 5px 5px black;
}

header > p {
    text-align: center;
    padding: 0px 0px 50px 0px;
    text-shadow: 5px 5px 5px black;
}


nav > a {
    color: white;
    display: inline;
    padding-bottom:8px;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px black;
            
}

nav > a:hover {
    color: rgb(0, 0, 0);
}

h1#home {
    font-family: Android;
    text-align: center;
    color: #3f6e54;
    }

main {
    padding: 10px;
    background-color: white;
    margin: 0px 450px 20px 450px;
    border-radius: 0px 0px 20px 20px;
}

main > h2 {
    font-family: Android;
    color: #3f6e54;
    background-image: linear-gradient(to right, #3cd983c5, #3cd9832d);
    margin: 0px 15px 0px 15px;

}


main > p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    padding: 30px 15px 30px 15px;

} 

img {
    display: block;
    margin: auto;
}

.video-container {
    position: relative;
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    overflow: hidden;
    padding-top: 50%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    border-radius: 30px;
}
    
h3 {
    color: white;
    background-color: #2fa866;
    padding: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px black;
    border-radius: 10px 10px 0px 0px;
}

div#fundo {
    background-color: #c5ebd6;
    border-radius: 0px 0px 15px 15px;
}

div > p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    }

ul {
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    display: inline-block;
    list-style: none;
}

ul > li::before {
    content: '✔️';
    color: green;
    margin-right: 8px;
    font-size: 0.9em;
    text-align: center;
    
}

footer{
    background-color: #195735;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}


p#link > a {
    color: #195735;
    text-decoration: none;
    font-weight: bold;
}